version: "3.8"
services:
  blueprint:
    container_name: blueprint
    build:
       context: .
       dockerfile: Dockerfile
    ports:
      - ${GRPC_PORT}:${GRPC_PORT} 
    volumes:
      - ${APP_ROOT}:/app
      - ${APP_LOG}:/app/logs
    env_file:
      - .env
    restart: always
    depends_on:
      - redis    
    networks:
      - blueprint
  
  redis:
    image: redis:6-alpine
    restart: always
    container_name: redis
    ports:
      - "6379:6379"
    networks: 
      - blueprint 
    volumes:
      - ${REDIS_DATA}:/redis-data
  mysql:
    image: mysql:8.0.19
    command: '--default-authentication-plugin=mysql_native_password'
    restart: always
    networks:
      - blueprint
    ports:
    - 3306:3306
    environment:
      MYSQL_DATABASE: ${MYSQL_DB}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: 'root'
      TZ: 'Asia/Amman'
    volumes:
      - ${MYSQL_DATA}:/var/lib/mysql
networks:
  blueprint:
    name: blueprint
    driver: bridge